<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <title>O'Beer</title>
</head>
<body>
    <div id="main-container">
        <header>
            <h1>O'Beer</h1>
            <img id="logo" src="/images/beer.svg" alt="logo d'une bière">
            <ul class="menu">
                <li><a href="/">Toute</a></li>
                <li><a href="/blonde">Blonde</a></li>
                <li><a href="/blanche">Blanche</a></li>
                <li><a href="/ambre">Ambrée</a></li>
                <li><a href="/brune">Brune</a></li>
                <li><a href="/ipa">IPA</a></li>
            </ul>
        </header>

        <main>
            <section>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
                <article class="article-beer">
                    <img src="/images/leffe.png" alt="nom de la bière">
                    <h2>St Rieul</h2>
                </article>
            </section>  
        </main>

        <footer>

        </footer>

    </div>    
</body>
</html>